@import "../../common/theme/theme.less";


.mika-novel-home-page-root {
  width: 100%;
}

.mika-novel-carouse-list {
  box-shadow: 0 0 15px 0 mix(@primary-color, transparent, 25%);
  border-radius: 10px;
}

.mika-novel-home-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  & > :nth-child(1):is(div) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 50px;

    @media all and (max-width: 1000px) {
      & > :nth-child(2):is(div) {
        display: none;
      }
    }
  }

}