@import "../../common/theme/theme";

.mika-novel-recommend-list-root {
  grid-area: recommend-list;
}

.mika-novel-recommend-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 20px 0;
  padding-top: 20px;

  > :is(.mika-novel-novel-card) {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

:has(+.mika-novel-recommend-list-container):is(h1) {
  margin: 0;
  color: @primary-color;
  user-select: none;

  @media (max-width: 768px) {
    font-size: calc(1.5rem + 1vw);
  }
}

.mika-novel-recommend-list-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 20px 0;

  > div {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
