.mika-novel-reader-root {
  --text-color: #333;
  --title-font-size: 1.5rem;
  --title-font-weight: 600;
  --content-width: 80%;
  --content-background-color: #fff;
  --text-font-weight: 400;
  --paragraph-spacing: 10px;

  width: 100%;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;

  .mika-novel-reader-toolbar-container {
    background-color: inherit;
    width: var(--content-width);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 0 5px;

    .mika-novel-reader-toolbar {
      background-color: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      box-sizing: border-box;

      > * {
        flex: 1;
        padding: 10px 2px;
        box-sizing: border-box;
        white-space: nowrap;
        color: var(--text-color);
      }
    }

    .mika-novel-reader-setting-panel {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0;

      display: flex;
      flex-direction: column;
      width: 80%;
      padding: 20px;
      margin: auto;

      color: var(--text-color);
    }
  }

  .mika-novel-reader-toolbar-container-folded {
    width: fit-content;
    border-radius: 10px;
    background: var(--content-background-color);
    position: fixed;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;

    > * {
      color: var(--text-color);
    }
  }

  .mika-novel-reader-content {
    width: var(--content-width);
    margin: 0 auto;
    background: var(--content-background-color);
    color: var(--text-color);
    padding: 50px;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: 100%;
    }

    > .mika-novel-reader-divider {
      background-color: var(--text-color);
      margin-bottom: 15px;
      height: 1px;
    }

    > * {
      margin: 0;
    }

    > h1 {
      font-size: var(--title-font-size);
      font-weight: var(--title-font-weight);
      margin-bottom: 6px;
    }

    > .mika-novel-reader-content-container {
      p {
        font-weight: var(--text-font-weight);
        margin-top: var(--paragraph-spacing);
        margin-bottom: 0;
        overflow-wrap: anywhere;
        text-wrap: normal;
      }
    }

  }

  .mika-novel-reader-menu-panel {
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 10px 0;
    }

    .mika-novel-reader-menu-item {
      > div {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        @media (max-width: 768px) {
          grid-template-columns: minmax(0, 1fr);
        }

        gap: 10px;
        width: 100%;

        > button {
          > div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          text-align: left;
          justify-content: left;
          width: 100%;
        }
      }
    }
  }
}