.mika-novel-reader-root {
  --mika-novel-reader-font-size: 20px;
  --mika-novel-reader-line-height: 2;
  --mika-novel-reader-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mika-novel-reader-font-weight: 400;
  --mika-novel-reader-font-color: #333;
  --mika-novel-reader-background-color: #fff;

  width: 100%;
  min-height: 100vh;

  .mika-novel-reader-content {
    padding: 0 10px;
    margin: 30px 20vw;
    width: fit-content;

    p {
        font-size: var(--mika-novel-reader-font-size);
        line-height: var(--mika-novel-reader-line-height);
        font-family: var(--mika-novel-reader-font-family);
        font-weight: var(--mika-novel-reader-font-weight);
        color: var(--mika-novel-reader-font-color);
        margin: 0;
        padding: 0;
    }
  }
}