@import "../../common/theme/theme.less";

.mika-novel-page-novel-detail {
  grid-area: novel-detail;
  width: 100%;
  box-sizing: border-box;

  @coverHeight: 270px;
  @coverMobileHeight: 180px;
  @coverWidth: (@coverHeight / 3 * 2);
  @coverMobileWidth: (@coverMobileHeight / 3 * 2);

  display: grid;
  grid-template-areas:
        "novel-cover . novel-title"
        "novel-cover . ."
        "novel-cover . novel-author"
        "novel-cover . ."
        "novel-cover . novel-tags"
        "novel-cover . ."
        "novel-cover . novel-description"
        "novel-cover . ."
        "novel-cover . novel-action";
  grid-template-rows: 42px 6px 16px 12px 24px 12px auto minmax(0, 100%) auto;

  grid-template-columns: @coverWidth 20px auto;
  height: @coverHeight + 12px * 2;

  @media (max-width: 768px) {
    grid-template-columns: @coverMobileWidth 15px auto;
    height: @coverMobileHeight + 12px * 2;
    grid-template-areas:
        "novel-cover . novel-title"
        "novel-cover . ."
        "novel-cover . novel-author"
        "novel-cover . ."
        "novel-cover . novel-tags"
        "novel-cover . ."
        "novel-cover . novel-action";
    grid-template-rows: 42px 6px 16px 12px 24px minmax(0, 100%) auto;
  }

  padding: 12px;

  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 mix(@primary-color, transparent, 15%),
    -3px -3px 15px 0 mix(@primary-color, transparent, 15%);

  .mika-novel-page-novel-cover {
    grid-area: novel-cover;
  }

  > :nth-child(1) {
    object-fit: cover;
    border-radius: 10px;
    height: @coverHeight;
    width: auto;
    aspect-ratio: 2 / 3;
    margin: auto;

    @media (max-width: 768px) {
      height: @coverMobileHeight;
    }
  }

  > ::selection {
    background: @primary-color;
    color: white;
  }

  > h1 {
    color: transparent;
    -webkit-text-stroke: 1px @primary-color;
    font-weight: 500;
    margin: 0;
    font-size: 32px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    grid-area: novel-title;
  }

  .mika-novel-page-novel-author {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: @primary-color;
    grid-area: novel-author;

    white-space: nowrap;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;

      > path {
        fill: @primary-color;
      }
    }
  }

  .mika-novel-page-novel-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
    height: 23px;
    grid-area: novel-tags;


    > span {
      color: @primary-color;
      border: 1px solid @primary-color;
      padding: 2px 5px;
      border-radius: 5px;
      font-size: 12px;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;

      box-sizing: border-box;
      white-space: nowrap;

      &:hover {
        background: @primary-color;
        color: white;
      }
    }
  }

  > p {
    color: @emphasis-color;
    margin: 0;
    grid-area: novel-description;
    height: fit-content;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .mika-novel-page-novel-action {
    display: flex;
    gap: 10px;
    align-items: center;
    grid-area: novel-action;
    height: fit-content;

    :is(button) {
      white-space: nowrap;
    }
  }
}
