@import "../../common/theme/theme.less";

.mika-novel-novel-page-container {
  display: grid;
  grid-template-areas:  "novel-detail novel-detail"
                        "novel-volume novel-recommend"
                        "novel-comment novel-recommend";

  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;

  @media (max-width: 768px) {
    grid-template-areas:  "novel-detail"
                          "novel-desc"
                          "novel-volume"
                          "novel-comment"
                          "novel-recommend";

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  margin: 20px auto;
  width: 90vw;
  max-width: 1200px;
  gap: 15px;
}